<header class="style-1">
       <div class="header">
          <a href="index.html" class="logo vertical-align"><img src="static/img/logo_ambar.png" alt="" style="width: 15%;"></a>
          <a href="#" class="burger-menu vertical-align"><i></i></a>
		   <nav class="nav-menu">
		     <div class="nav-menu-layer"><span></span></div>
		     <div class="table-align">
			   <ul class="nav-list cell-view">
				<li class="active"><a href="#" class="drop-link">Home<div class="open-drop"><span></span><span></span></div></a>
				  <ul class="drop-menu">
				  	<li><a href="index.html">Home style 1</a></li>
				  	<li><a href="home_2.html">Home style 2</a></li>
				  	<li><a href="home_3.html">Home style 3</a></li>
				  	<li><a href="home_4.html">Home style 4</a></li>
				  	<li><a href="home_5.html">Home style 5</a></li>
				  	<li><a href="home_6.html">Home style 6</a></li>
				  	<li><a href="home_7.html">Home style 7</a></li>
				  	<li><a href="home_8.html">Home style 8</a></li>
				  	<li><a href="home_9.html">Home style 9</a></li>
				  	<li><a href="home_10.html">Home style 10</a></li>
				  </ul>
				</li>
				<li><a href="#" class="drop-link">Conócenos<div class="open-drop"><span></span><span></span></div></a>
				   <ul class="drop-menu">
				    <li><a href="portfolio_1.html">Portfolio style 1</a></li>
				    <li><a href="portfolio_2.html">Portfolio style 2</a></li>
				    <li><a href="portfolio_3.html">Portfolio style 3</a></li>
				    <li><a href="portfolio_4.html">Portfolio style 4</a></li>
				   	<li><a href="case_study.html">Case Study</a></li>
				   </ul>
				</li>
				<li><a href="#" class="drop-link">Accesorios<div class="open-drop"><span></span><span></span></div></a>
				   <ul class="drop-menu">
				    <li><a href="blog_masonry.html">Blog List Masonry</a></li>
				    <li><a href="blog_list.html">Blog List Regular</a></li>
				    <li><a href="blog_list_sidebar.html">Blog List with Sidebar</a></li>
				   	<li><a href="#" class="drop-link-next">Single Post<div class="open-drop"><span></span><span></span></div></a>
				   	  <ul class="drop-menu-next">
				   	    <li><a href="post_1.html">Single Post v1</a></li>
				   	    <li><a href="post_2.html">Single Post v2</a></li>
				   	    <li><a href="post_left_sidebar.html">Single Post with Sidebar v1</a></li>
				   	    <li><a href="post_right_sidebar.html">Single Post with Sidebar v2</a></li>
					  </ul> 
				   	</li>
				   </ul>
				</li>
				<li><a href="#" class="drop-link">Redes Sociales<div class="open-drop"><span></span><span></span></div></a>
				   <ul class="drop-menu">
				     <li><a href="variation.html">Hero Variations</a></li>
				     <li><a href="team.html">Team Variations</a></li>
				     <li><a href="contact.html">Contact</a></li>
				   </ul>
				</li>
			  </ul>
			 </div> 
		   </nav>
       </div> 
     </header>